In [12]:
import pandas as pd
import unicodedata
from transliterate import translit

In [11]:
df = pd.read_csv('../data/train.csv')

df = pd.concat(
    [
        df[['name_1']].rename(columns={'name_1': 'company'}),
        df[['name_2']].rename(columns={'name_2': 'company'})
    ],
    ignore_index=True
)

df = pd.DataFrame(
    {'company': df['company'].unique()}
)

print(df.shape)
df.head(10)

(18022, 1)

                                         company
0                            Iko Industries Ltd.
1                        Apcotex Industries Ltd.
2              Rishichem Distributors Pvt., Ltd.
3                        Powermax Rubber Factory
4                                      Tress A/S
5                            Wpt Mexico Sa De Cv
6                               National Bank Of
7                            Citibank Korea Inc.
8         Prettl Electric Del Bajio S.A. De C.V.
9  Beijing Zhongyi Rongda Tech Trading Co., Ltd.

In [15]:
df['company_preprocess'] = df['company'].apply(lambda company: str(company).lower())

df['company_preprocess']  = df['company_preprocess'].apply(
    lambda company: unicodedata.normalize('NFKD', company)
)

company = list()
for cmp in df['company_preprocess']:
    try:
        company.append(translit(cmp, reversed=True))
    except:
        company.append(cmp)

df['company_preprocess'] = company

print(df.shape)
df.head(10)

(18022, 2)

,company,company_preprocess
0,Iko Industries Ltd.,iko industries ltd.
1,Apcotex Industries Ltd.,apcotex industries ltd.
2,"Rishichem Distributors Pvt., Ltd.","rishichem distributors pvt., ltd."
3,Powermax Rubber Factory,powermax rubber factory
4,Tress A/S,tress a/s
5,Wpt Mexico Sa De Cv,wpt mexico sa de cv
6,National Bank Of,national bank of
7,Citibank Korea Inc.,citibank korea inc.
8,Prettl Electric Del Bajio S.A. De C.V.,prettl electric del bajio s.a. de c.v.
9,"Beijing Zhongyi Rongda Tech Trading Co., Ltd.","beijing zhongyi rongda tech trading co., ltd."

In [16]:
df.tail()

,company,company_preprocess
18017,Plastic Packaging (Pty) Ltd.,plastic packaging (pty) ltd.
18018,'Hengshui Mechanical & Electrical Building Co....,'hengshui mechanical & electrical building co....
18019,"Jiangsu Baoli International Investment Co., Lt...","jiangsu baoli international investment co., lt..."
18020,Lanxess AG,lanxess ag
18021,"TGI IMPORT EXPORT CO., LTD.","tgi import export co., ltd."

In [17]:
df.isnull().sum()

company               0
company_preprocess    0
dtype: int64

In [19]:
df.to_csv('../data/companies_bd.csv', index=False)